<p style="text-align: center; background-color: white;">
  <a href="{{site.baseurl}}/">Startseite</a> |
  <a href="{{site.baseurl}}/CH00">Vorwort</a> |
  <a href="{{site.baseurl}}/CH01">Kapitel 1</a> |
  <a href="{{site.baseurl}}/CH02">Kapitel 2</a> |
  <a href="{{site.baseurl}}/CH03">Kapitel 3</a> |
  <a href="{{site.baseurl}}/CH04">Kapitel 4</a> |
  <a href="{{site.baseurl}}/CH05">Kapitel 5</a> |
  <a href="{{site.baseurl}}/CH06">Kapitel 6</a> |
  <a href="{{site.baseurl}}/CH07">Kapitel 7</a> |
  <a href="{{site.baseurl}}/CH08">Kapitel 8</a> |
  <a href="{{site.baseurl}}/CH09">Kapitel 9</a> |
  <a href="{{site.baseurl}}/CH10">Kapitel 10</a> |
  <a href="{{site.baseurl}}/CH11">Kapitel 11</a>
</p>
